@media screen and (min-width:1200px) {
.header { 
        display: flex;
        padding-top: 24px;
        padding-bottom: 24px;
        background: #FFFFFF;
    border-bottom: 1px solid #E7E9FC;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    }
    .header-menu-list {
        margin-right: 76px;
    }
    .menu {
        display:flex ;
    }
    .contact-mail {
        margin-left: auto;
        display: flex;
        gap: 40px;

    }
    /*=====================Header========================*/
    .page-container-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100%
}
.header-menu-list {
    margin-right: 76px;
}
.menu {
    display:flex ;
} 
.header-menu-list {
    margin-right: 76px;
}
.menu-item {
    position: relative;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.50;
    letter-spacing: 0.02em;
    cursor: pointer;    
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-item.carrent::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -28px;
    background: #404BBF;
border-radius: 2px;
}
.menu-list:not(:last-child) {
    margin-right: 40px;
}
.menu-item:focus {
        color: var(--text-color-logo);
}
.menu-item.carrent::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: -28px;
    background: #404BBF;
border-radius: 2px;
}

    /*=====================COMPONENTS========================*/
    /*=====================Effective Solutions for Your Business-=======================*/
    .main-head {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/hero.jpg);
        background-size: cover;
        background-color: #2E2F42;
        justify-content: center;
    display: flex;
        max-width: 100%;
        height: auto;
    }
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        .main-head {
            background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)), url(../images/hero-2x.jpg);
        }
    }

.main-head-position {
    text-align: center;
}
.hero {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    height: 120px;
    width: 500px;
    justify-content: center;
    }
    .hero-position {
        padding-top: 188px;
        padding-bottom: 188px;
    } 
/*=====================/COMPONENTS=======================*/
/*=======================BUTTON==============================*/
.btn {
    font-family: var(--primari-font);
font-size: 16px;
line-height: 1.18;
align-items: center;
min-width: 169px;
height: 56px;
    padding: 15, 31;
    font-weight: 700;
    font-family: inherit;
    align-items: center;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: var(--text-color-logo);
cursor: pointer;
border: 1px solid #E7E9FC;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px
}

.btn-range {
    text-align: center;    
    display: block;
    margin: auto;
    margin-top: 48px;
}


/*=======================/BUTTON==============================*/
/*=====================DESCRIPTION========================*/
.container-list {
    padding-top:  120px;
}
.size-body {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.list-bord {
    display: flex;
    gap: 24px;
    justify-content: left;
}
.list-size {
    width: 264px;
    gap: 24px;
}
.description-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    height: 112px;
    background: #fdf4f5;
border-radius: 4px;
}
.list-solution {
    font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
    font-weight:var(--primari-font-weight);
    color: #2E2F42;
}
.discription-text {
    margin-top: 8px;
}
.primari-popular-text {
font-weight: 400;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color: #434455;
}
/*=====================/DESCRIPTION========================*/
/*=======================MAIN==============================*/
/*==========================What-are-we-doing=======================*/
.work-scroll-item {
    display: block;
    padding-top:  120px;
    padding-bottom: 120px;
    justify-content: center;
    align-items: center;
    
}
.container {
    max-width: 1158px;
    margin-left: 15px;
    margin-right: 15px;
    }
    
    .job-illumination {
    font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
}
.list-bord {
    display: flex;
    gap: 24px;
}
.list-bord-scroll {
    margin-top: 72px;  
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
border-radius: 0px 0px 4px 4px;
justify-content: center;
}
/*==========================Our-Team=======================*/
.work-scroll {
    
    padding-top:  120px;
    padding-bottom: 120px;
    
}
.job-illumination-color {
    background: #fdf4f6;
}
.con-box {
padding-top:  32px;
padding-bottom: 32px;
}
.name-on-team {
    font-size: 20px;
line-height: 1.20;
text-align: center;
letter-spacing: 0.02em;
}
.discription-text {
    margin-top: 8px;
}
.social-list {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    gap: 24px;
}
.social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--text-color-logo);
}

/*=======================Customers==============================*/
.job-illumination-color {
    background: #fdf4f6;
}
.customers-icon {
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 72px;    
}
.customer-list-link-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 168px;
    height: 88px;
    border: 1px solid #8E8F99;
border-radius: 4px;
fill: #8E8F99;
transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customer-list-link-icon:hover,
.customer-list-link-icon:focus {
    fill:  #4D5AE5;
    border-color: #4D5AE5;
}
/*======================FOOTER===========================*/
.footer-back {    
    background: #2E2F42;  
    padding-top: 100px;
    padding-bottom: 100px;
    margin-right: auto;
}
.footer-list {
    display: flex;
    gap: 16px;
}
.container-footer-box {
    margin-right: auto;
    margin-left: auto;
    padding: 0 15px;
}
/* .logo-text {
font-weight: var(--primari-font-logo-weight);
font-size: var(--primari-font-logo-size);
line-height: var(--primari-font-logo-height);

display: var(--primari-font-logo-display);
align-items: var(--primari-font-logo-items);
letter-spacing: var(--primari-font-logo-spacing);
text-transform: var(--primari-font-logo-transform);
} */
/*=============*/
.footer-box-text {
    margin-top: 16px;
    color: #E7E9FC;
    }
.footer-text {
    width: 264px;
}
/*=============*/
.footer-list-icons {
    margin-left: 120px;
    margin-top: 0px;
}
/*=============*/
.list-solution {
    font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
    font-weight:var(--primari-font-weight);
    color: #2E2F42;
    text-align: left;
}
.footer-item-text { 
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color: #FFFFFF;
}
/*=============*/
.footer-list {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap; 
}
.footer-box-text {
    margin-top: 16px;
    }
/*=============*/
.footer-social-list-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-list-link:hover,
.footer-social-list-link:focus {
    background-color: #31D0AA;
}
.footer-modal {
    display: flex;    
margin-left: 80px;
margin-top: 0px;
}
.footer-modal-text {
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
letter-spacing: 0.02em;
color: #FFFFFF;
margin-bottom: 16px;
margin-top: 0px;
}
.footer-modal-mesage {
    display: flex;
}
.footer-modal-mesage-input {
    position: relative;    
}
.footer-modal-input {
    padding-left: 16px;
    width: 264px;
    height: 40px;
    background-color: transparent;
border: 1px solid rgba(255, 255, 255, 0.3);
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
border-radius: 4px;
color: #FFFFFF;
}
.footer-modal-mail {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
font-weight: 400;
font-size: 12px;
line-height: calc(24/12);
display: flex;
align-items: center;
letter-spacing: 0.04em;
color: rgba(255, 255, 255, 0.6);
}
.footer-modal-btn {
    display: inline;    
}
.footer-modal-button {    
    margin-left: 24px;
    background: #4D5AE5;
border-radius: 4px;
width: 165px;
height: 40px;
border: 1px transparent;
font-weight: 500;
font-size: 16px;
line-height: calc(24/16);
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
margin-top: 0px;
}
.footer-modal-icon {
    fill: #FFFFFF;
    margin-left: 16px;
}
    }